.home-cont{
    height: 100%;
}

.icon{
    font-size: 75px;
}

.icon-name{
    font-size: 50px;
    text-decoration: none;
}

.mod-link{
    text-decoration: none;
}

.homeLogin{
    margin: 10%  0px;
    height: 300px;
    width: 80%;
    border-radius: 30px;
    border: none;
    box-shadow: 3px 3px 10px;
    background-color: lawngreen; 
    color: black;
}