.cat{
    font-size: 80px;
}
.cat1{
    font-size: 30px;
    text-decoration: none;
}
.cat2{
     background-color: rgb(35, 182, 35);
     
}
.cat3{
    font-size: 80px;
}
.cat4{
    font-size: 30px;
    text-decoration: none;
}
.cat5{
     background-color: rgb(35, 182, 35);

}