.userlogin-div{
    height: 100vh;
    background-image: url("/public/images/background.png");
    background-size: cover;
    background-position: fixed;
}

.us-div{
    color: white;
}

.userIcon{
    font-size: 80px;
    color: #0C7F40;
}

.previous-button{
    width: 100px;
    margin-left: 40%;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}

.previous-button:hover{
    background-color: rgb(194, 5, 5);
    color: white;
}
@media screen and (max-width: 576px) {
    .userlogin-div{
        height: 100%;
    }
}