.adminLogin-div{
    height: 100vh;
    background-image: url("/public/images/background.png");
    background-size: cover;
    background-position: fixed;
}
.icon{
    font-size: 80px;
    text-align: center;
    color: black;
}
.login{
    display: flex;
    background-color: forestgreen;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 10%;
}

.dv{
    margin-top: 20%;
}

.userdiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login1{
    padding: 10px;
    margin: 10px;
}

.button{
    width: 100%;
}
admin-prev{
    
}